<launch>

<arg name="server_address" default="QTM"/>
<arg name="publish_tf" default="true"/>

<!-- launch qualisys launch file -->
<include file="$(find mocap_qualisys)/launch/qualisys.launch">
     <arg name="server_address" value="$(arg server_address)"/>
     <arg name="publish_tf" value="$(arg publish_tf)"/>
</include>

<!-- launch tf static transform publisher -->
<node pkg="tf" type="static_transform_publisher" name="map_to_mocap" args="38.501 32.85 0 3.1188 0 0 map mocap 1" />


</launch>
