<launch>

<arg name="server_address" default="QTM"/>
<arg name="publish_tf" default="true"/>

<!-- launch qualisys launch file -->
<include file="$(find mocap_qualisys)/launch/qualisys.launch">
     <arg name="server_address" value="$(arg server_address)"/>
     <arg name="publish_tf" value="$(arg publish_tf)"/>
</include>

<!-- launch tf static transform publisher -->
<node pkg="tf" type="static_transform_publisher" name="map_to_mocap" args="38.2691 32.8942 0 3.1206 0 0 map mocap 1" />


<node pkg="mocap_toolbox" type="mocap_transformer.py" name="mocap_map_transformer" output="screen">
    <param name="target_frame" value="map"/>
</node>


</launch>
